* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    color: white;
    background-color: #333333;
}

.navlogo{
    display: flex;
    margin-left: 100px;
    margin-top: 10px;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
}
.navlogo img {
    width: auto;
    height: 75px;
}

.navlist {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin-right: 145px;
}

.navlist li a {
    margin: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Bebas Neue', sans-serif;
    
}

.area-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #e0e2e2;
    height: 300px;
}

.area-1-text h2 {
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 25px;
    margin-right: 10px;
    font-size: 48px;
}

.area-1-text p {
    width: 300px;
    margin-bottom: 10px;
    font-size: 18px;
}

.area-1-text button {
    width: 120px;
    height: auto;
}

.area-1-image img{
    height: 250px;
    width: auto;
    border-radius: 50%;
    margin-top: 25px;
    border: 3px solid black;
}

.area-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: gray;
    height: 300px;
}

.area-2-text {
    align-self: center;
}

.area-2-text h3 {
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 28px;
}

.area-2-images {
    justify-content: center;
    display: flex;
}


.area-2-images img {
    margin: 20px 15px 5px 15px;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
}

.area-2-images p{
    text-align: center;
}